<%= form_for(@node) do |f| %>
  <div id="header" class="row">
    <div class="title_edit field col-md-8">
      <%= f.text_field :title, :class => 'title_edit' %>
    </div>
  </div>

  <div class="row">
    <div id="main" class="field col-md-16">
      <%= f.text_area :maintext, :class => 'col-md-24 maintext_edit', :rows => '20'%>
    </div>

    <div id="sidebar" class="col-md-7 col-md-offset-1">
      <div class="sidebar_img">
        <%= image_tag "template.jpg" %>
      </div>
      <div id="sidebar_table">
        <% @node.table['h'].length.times do |i| %>
          <input id='node_table_h_' name='node[table[h][]' class='table_h_edit' type='text' value='<%= @node.table['h'][i]%>'><input id='node_table_d_' name='node[table[d][]' class='table_d_edit' type='text' value='<%= @node.table['d'][i]%>'>
        <% end %>
      </div>
      <div id="table_buttons">
        <button id='add_row' class='btn btn-default btn-small' type='button' onclick='$("#sidebar_table").append( <%= (render 'tableform').to_json %> )'>Add Row</button>
        <button id='remove_row' class='btn btn-default btn-small' type='button' onclick='$("#sidebar_table input:nth-last-child(-n+2)").remove()'>Remove Row</button>
      </div>
    </div>
  </div>
  <%= f.submit :class => 'btn btn-default btn-small' %>
<% end %>