<%= form_for(@node) do |f| %>
  <div id="header" class="row">
    <div class="title_edit field col-md-8">
      <h4>Title:</h4>
      <%= f.text_field :title, :class => 'title_edit' %>
    </div>
  </div>

  <div class="row">
    <div id="main" class="field col-md-16">
      <%= f.text_area :maintext, :class => 'col-md-24 maintext_edit', :rows => '20'%>
    </div>

    <div id="sidebar" class="col-md-7 col-md-offset-1">
      <div class="sidebar_img">
        <%= image_tag "template.jpg" %>
      </div>
      <div id="sidebar_table"></div>
      <button id='add_row' class='btn btn-small' type='button' onclick='$("#sidebar_table").append(<%= (render 'tableform').to_json %>)'>Add Row</button>
      <button id='remove_row' class='btn btn-small' type='button'>Remove Row</button>
    </div>
  </div>
  <%= f.submit %>
<% end %>