<div id="header" class="row">
  <div class="title col-md-4 col-md-offset-4">
    <h1><%= @node.title %></h1>
  </div>
</div>
<div class="row">
  <div id="main" class="col-md-16">
    <p><%= @node.maintext %></p>
  </div>
  <div id="sidebar" class="col-md-7 col-md-offset-1">
    <div class="sidebar_img">
      <%= image_tag "template.jpg" %>
    </div>
    <div class="info">
      <table class="table">
        <% @node.table do |table| %>
          <% table['h'].length.times do |i| %>
            <tr>
              <th><%= table['h'][i] %></th><td><%= table['d'][i] %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</row>