<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "nodes", "bootstrap", media: "all"%>
  <%= javascript_include_tag "jquery", "jquery_ujs", "nodes", "bootstrap"%>
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href='http://fonts.googleapis.com/css?family=Noticia+Text:400,700,400italic' rel='stylesheet' type='text/css'>
  <!-- <link rel="stylesheet" href="http://basehold.it/24"> -->
</head>
<body>
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Rails Wiki</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!--/.container-fluid -->
        </div>
<div class="container">
  
  <% flash.each do |flash_type, message| %>
  <div id="flash_<%= flash_type %>"><%= message %></div>
  <% end %>
  <div class='row'>
    <%= yield %>
  </div>
</div>
</body>
</html>
