<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "base", "nodes", media: "all"%>
  <%= javascript_include_tag "nodes", "jquery", "jquery_ujs"%>
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href='http://fonts.googleapis.com/css?family=Noticia+Text:400,700,400italic' rel='stylesheet' type='text/css'>
  <!-- <link rel="stylesheet" href="http://basehold.it/24"> -->
</head>
<body>
  <div id="navbar">
    <nav class="clearfix">
      <div><%= link_to 'Index', nodes_path %></div>
      <ul>
        <li><a href="#" class="link">Link</a></li>
        <li><a href="#" class="link">Link</a></li>
        <li><a href="#" class="link">Link</a></li>
        <li><a href="#" class="link">Link</a></li>
      </ul>
    </nav>
    <div class="pocket_shadow"></div>
    <div class="pocket_hide"></div>
  </div>
<div id= 'container' class="container clearfix">
  
  <% flash.each do |flash_type, message| %>
  <div id="flash_<%= flash_type %>"><%= message %></div>
  <% end %>
  
  <%= yield %>

</div>
</body>
</html>
